


  


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">TOPJOBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Profile-Details">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Find-Jobs">FindJobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Company Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/empnav-bar">
            Employers / Post Job</a>
        </li>
     
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/post-jobs">Post Job</a>
        </li> -->
  
      </ul>
    </div>
  </nav>

 









  <div class="container">

    <section class="signin-page account">
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="block text-center">
            
              <h2 class="text-center">Welcome Back</h2>
              <br>
              

              <form class="text-left clearfix" action="assets/index.html" >
                <div class="form-group">
                  <input type="email" class="form-control"  placeholder="Email">
                </div>
                <br>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <br>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <br>
              </form>

              <p class="mt-20">New in this site ?<a  href="signup" routerLink="/Signup"> Create New Account</a></p>
            </div>
          </div>
        </div>
      
    </section>
  </div>