
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">TOPJOBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Profile-Details">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Find-Jobs">FindJobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Company Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            Employers / Post Job</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/post-jobs">Post Job</a>
        </li> -->
  
      </ul>
    </div>
  </nav>

 






    <style>
        body {
          /* background-image: url("WhatsApp\ Image\ 2022-06-24\ at\ 10.48.52\ AM.jpeg"); */
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
    </style>
  


<body>
    <div class="container"> 
        <div class="heading">Profile</div>
        <form action="#">
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name">
                </div>
                
            </div>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">User Name</span>
                    <input type="text" placeholder="Enter your username">
                </div>
            </div>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Email ID</span>
                    <input type="email" placeholder="Enter your email id">
                </div>
            </div>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Phone Number</span>
                    <input type="phone" placeholder="Enter your phone number">
                </div>
            </div>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password">
                </div>
            </div>
            <div class="card-details">
             <div class="card-box">
                <span class="details">Confirm Password</span>
                <input type="pass" placeholder="Enter your confirm password">
             </div>
            </div>
            <div class="circal-form">
                <span class="circal-title">Gender</span>
                <div class="category">
                    <input type="radio" name="gender">Male
                    <input type="radio" name="gender">Female
                    <input type="radio" name="gender">Other                    
                </div>
            </div>  
            <div class="card-box">
                <span class="details">Resume-upload</span>
                 <input type="file" id="myFile" name="filename">
            </div> 
            <div class="button">
                <input type="submit" id="button" value="Submit">
            </div>
        </form>
    </div>
</body>


