<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">TOPJOBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/post-jobs">Post Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >view Applicants</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <!-- <section class="loginin-page account"> -->
    
        <form class="p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
          <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
              <h2 class="fs-3">Welcome Back</h2>
            </div>
          </div>
        
              <div class="row">
                <div class="col mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email">
                  <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">Email is Required.</div>

                  <div class="form text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
                      Email is InValid
                  </div>
                </div>
              </div>
                
              <div class="row">
                <div class="col mb-3">
                  <label for="pwd" class="form-label">Password</label>
                  <input type="password" class="form-control" id="pwd" formControlName="pwd">
                  
            <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">Password is Required.</div>

            <div class="form text text-danger" *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength']  && (PWD.dirty || PWD.touched)">
                Password should be at least 6 and the max within 15 chatracters long.
            </div>
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <div class="d-grid">
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>

            <p class="mt-20">New in this site ?<a  href="signup" routerLink="/emp-signin"> Create New Account</a></p>
                </form>

             
            
        
      
      
    <!-- </section> -->
  </div>
  