<div class="container">
    <div class="forms-container">
        <div class="signup-signup">
            <form action="#" class="sign-up-form">
                <h2 class="title">Sign Up</h2>


                <div class="input-field">
                    <span class="material-icons">
                        person
                        </span>
                    <input type="text" placeholder="Username" />
                </div>


                <div class="input-field">
                    <span class="material-icons">
                        email
                        </span>
                    <input type="email" placeholder="Email" />
                </div>


                <div class="input-field">
                    <span class="material-icons">
                        lock
                        </span>
                    <input type="text" placeholder="Password" />
                </div>

                
            <!-- <input type="submit" class="btn solid" value="Signup" /> -->

            <a mat-raised-button class="newbt" id="login-text" color="primary" >Signup</a>
            <p class="social-text">Or Sign up with social platforms</p>



            <div class="social-media">
                
                    <a href="#" class="social-icon">
                        <span class="icon-facebook-official"></span>
                    </a>
    
                    <a href="#" class="social-icon">
                        <span class="icon-google-plus-square"></span>
                    </a>
    
                    <a href="#" class="social-icon">
                        <span class="icon-twitter-square"></span>
                    </a>
    
                    <a href="#" class="social-icon">
                        <span class="icon-linkedin-square"></span>
                    </a>
                
               </div>
            </form>
        </div>
    </div>
</div>