
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand mb-0 h1" href="#">TOPJOBS</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
      <li class="nav-item active">
         <a class="nav-link" routerLink="">Home<span class="sr-only"></span></a>
       </li>
     
       <!-- <li class="nav-item">
         <a class="nav-link" routerLink="/post-jobs">Post Job</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" >view Applicants</a>
       </li> -->
     </ul>
   </div>
 </nav>




<div class="container" *ngIf="post">
<br>
<br>
    <h1>View Posted Jobs</h1>
<br>
<br>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" name = 'id' [(ngModel)]="post.id" readonly>
         </div>


         <div class="mb-3">
            <label class="form-label">CompanyName</label>
            <input type="text" class="form-control" name = 'companyName' [(ngModel)]="post.companyName">
         </div>

         <div class="mb-3">
            <label class="form-label">JobTitle</label>
            <input type="text" class="form-control" name = 'jobTitle' [(ngModel)]="post.jobTitle">
         </div>

         <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" class="form-control" name = 'location' [(ngModel)]="post.location">
         </div>

         <div class="mb-3">
            <label class="form-label">Summary</label>
            <input type="text" class="form-control" name = 'summary' [(ngModel)]="post.summary">
         </div>

         <div class="mb-3">
            <label class="form-label">Salary</label>
            <input type="text" class="form-control" name = 'salary' [(ngModel)]="post.salary">
         </div>

         <div class="mb-3">
            <label class="form-label">UrlHandle</label>
            <input type="text" class="form-control" name = 'urlHandle' [(ngModel)]="post.urlHandle">
         </div>

         <div class="mb-3">
            <label class="form-label">FeatureImageUrl</label>
            <input type="text" class="form-control" name = 'featureImageUrl' [(ngModel)]="post.featureImageUrl">
         </div>

         <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name = 'visible' [(ngModel)]="post.visible">
            <label class="form-check-label">
                Visible
            </label>
            
         </div>
         
         <div class="mb-3">

            <label class="form-label">PublishDate</label>
            <input type="text" class="form-control" name = 'publishDate' [(ngModel)]="post.publishDate">
         </div>

         <div class="mb-3">

            <label class="form-label">UpdatedDate</label>
            <input type="text" class="form-control" name = 'updatedDate' [(ngModel)]="post.updatedDate">
         </div>
       
         
         <div class="mb-3">

           <button class="btn btn-primary">Save</button>

           <button class="btn btn-danger" style="margin: left 30px;" (click)="deletePost()">Delete</button>

         </div>

      </form>

</div>